<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60" debug="false">
    <!-- 自定义变量 -->
    <property name="appName" value="chatgpt-wechat" />
    <property name="pattern"  value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %-5level %logger{36} - %msg%n"/>
    <!-- 设置上下文名称 -->
    <contextName>${appName}</contextName>

    <!--控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 设置日志输出格式 -->
            <pattern>${pattern}</pattern>
            <!-- 设置输出字符集编码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>